*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
img{
    width: 150px;
    height: 130px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
}

/*Navbar css başlangıcı*/
.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    background-color: rgb(249, 181, 86);
}
.RightSide a{
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    background: rgb(103, 55, 4);
    padding: 5px 10px;
    border-radius: 8px;
    transition: all 250ms;
    position: relative;
    font-weight: 500;
    z-index: 1;
     padding: 5px 20px;
     box-shadow: white;
}
.RightSide a:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 250ms;
    border-radius: 8px;
  }
  .RightSide a:hover:before {
    width: 100%;
  }
  /*

  Responsive navbar
  @media (max-width: 600px) {
  .leftSide img {
    width: 50px;
    height: 50px;
    margin-left: 16px;
  }
  .rightSide a{
    margin-right: 4px;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
  }
}
@media (max-width: 360px) {
  .leftSide img {
    width: 50px;
    height: 50px;
    margin-left: 16px;
  }
  .rightSide a{
    margin-right: 4px;
    font-size: 13px;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
  }
}
  */


  /* Navbar Css Bitiş */



/* Home Css Başlangıç */
.Home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .HeaderContainer {
    width: auto;
    margin-left: 50px;
    margin-top: -150px;
  }
  
  .HeaderContainer h1 {
    font-size: 120px;
    height: 60px;
    font-weight: 70;
    color:black;
    font-style: italic;
    margin-left: 100px;
    padding-top: 40px;
  }
  
  .HeaderContainer p {
    font-size: 30px;
    color: black;
    width: 1200px;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-top: 80px;
    
    
  }
  
  .HeaderContainer button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    z-index: 1;
    color: white;
  }
  .HeaderContainer button:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #83E85A;
    transition: .3s;
    z-index: -1;
    border-radius: 10px;
  }
  .HeaderContainer button:hover:before{
    width: 100%;  
  }
  
  
  
  @media only screen and (max-width: 650px) {
    .Home {
      justify-content: center;
      align-items: center;
    }
    .HeaderContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .HeaderContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .HeaderContainer p {
      font-size: 30px;
      color: white;
    }
  
    .HeaderContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .HeaderContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }
  /* Home Css Bitiş */


  /* Footer Css Başlangıç */
.Footer {
    width: 100%;
    height: 130px;
    background-color:rgb(249, 181, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    color: black;
    margin: 20px;
    font-size: 50px;
    cursor: pointer;
  }
  
  .footer p {
    color: black;
    text-align: center;
  }
  /* footer bitiş */

  